.about-us__top {
    padding: 2rem 0;

    @media (max-width: 768px) {
        padding: .5rem 0;
    }

    color: $while;
}

.about-us {
    background-color: #202733;
    
    padding: 0 1rem;
}

.about-us__title {
    margin: 1rem 0;
    padding: 1rem 0;

    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.about-us_name {
    font-size: 1.5rem;
}

.about-us_bottom {
    text-align: center;

    .about-us_bottom_t {
        border-bottom: none;
    }
}

.about-us__content-top {
    font-size: 1.2rem;
}

.about-us__content-bottom {
    font-size: 1.2rem;
}