.header__btn {
    margin: 10px;
    background-color: $green_dark;
    color: $black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: $green_light;
    }
    .header--fixed & { // если у кнопки имеется родительский класс .header-fixed
        background-color: $red;
    }
}