.mn-header__btn {
    margin: 0;
    // background-color: $green_dark;
    // color: $black;
    // padding: 0;
    // border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: $green_light;
    }
    .header--fixed & { // если у кнопки имеется родительский класс .header-fixed
        background-color: $red;
    }
}