.companies__body {
    background-color: $gray;
}

.companies__title {
    text-align: center;

    font-size: 2rem;
    font-weight: 600;

    padding: 1rem 0;
}

.companies__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    padding: 2rem 0;
}
