.price_and_form {
    display: flex;
    justify-content: space-around;

    width: 100%;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}

.price-col {
    width: 41%;

    padding: 1rem;
    margin: 2rem 1rem;

    background-color: $while;
    border-radius: 1rem;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        width: 70%;
    }
}


.p_form {
    background-color: #202733;
}


.price__duration {
    display: flex;
}

.price__mount {
    padding: 0 .7rem 0 0;
}

.price__long {
    font-size: 1.2rem;
}
