<footer class="footer" id="ex6">
    <div class="content">
        <div class="footer-top">
            <ul class="footer-menu__list">
    
                <li class="footer-menu__item">
    
                    <div class="footer-menu__title">2017 - 2021 <span class="name__school">AgileDev</span></div>
    
                    <ul class="footer-info__list">
                        <li class="footer-info__item"><a href="thank-you.html" class="footer-info__link">+7(939) 999 13 33</a></li>
                        <li class="footer-info__item"><a href="#" class="footer-info__link">+7(988) 826 08 82</a></li>
                        <li class="footer-info__item"><a href="#" class="footer-info__link">info@agileschool.com</a></li>
                    </ul>

                    <div class="footer-socials">
                        <a class="social__link" href="#" target="_blank">
                            <svg class="social__icon vk">
                                <use xlink:href="#vk"></use>
                            </svg>
                        </a>
                        <a class="social__link" href="#" target="_blank">
                            <svg class="social__icon ins">
                                <use xlink:href="#ins"></use>
                            </svg>
                        </a>
                        <a class="social__link" href="#" target="_blank">
                            <svg class="social__icon youtube">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a>
                    </div>

                    <div class="footer-logo"><span class="name__school">AgileDev</span></div>
    
                </li>
    
                <li class="footer-menu__item">
    
                    <div class="footer-menu__title">Программы обучения</div>
    
                    <ul class="footer-navigation__list">
                        <li class="footer-navigation__item"><a href="#" class="footer-menu__link">Frontend-разработка</a></li>
                        <li class="footer-navigation__item"><a href="#" class="footer-menu__link">HTML5/CSS3</a></li>
                        <li class="footer-navigation__item"><a href="#" class="footer-menu__link">JavaScript</a></li>
                        <li class="footer-navigation__item"><a href="#" class="footer-menu__link">ReactJS</a></li>
                        <li class="footer-navigation__item"><a href="#" class="footer-menu__link">Git</a></li>
                    </ul>
    
                </li>
    
                <li class="footer-menu__item">
                    <div class="footer-menu__title">Полезное</div>
    
                    <ul class="footer-inner__list">
                        <li class="footer-inner__item">
                            <a class="footer-menu__link" href="#">Карта курсов</a>
                        </li>
                        <li class="footer-inner__item">
                            <a class="footer-menu__link" href="#">Вебинары</a>
                        </li>
                        <li class="footer-inner__item">
                            <a class="footer-menu__link" href="#">Вакансии</a>
                        </li>
                        <li class="footer-inner__item">
                            <a class="footer-menu__link" href="#">О нас</a>
                        </li>
                        <li class="footer-inner__item">
                            <a class="footer-menu__link" href="#">Блог</a>
                        </li>
                    </ul>
                </li>
    
                <li class="footer-menu__item">
    
                    <div class="footer-menu__title">Информация</div>
    
                    <ul class="footer-docs__list">
                        <li class="footer-docs__item"><a class="footer-docs__link" href="#">Договор оферты</a></li>
                        <li class="footer-docs__item"><a class="footer-docs__link" href="#">Политика конфидициальности</a></li>
                        <li class="footer-docs__item"><a class="footer-docs__link" href="#">Правила пользования платформой</a></li>
                    </ul>
                </li>
    
            </ul>
        </div>
    </div>
</footer>

