<header class="header header--fixed">
    <div class="header__logo">
        <div class="social">
            <div class="social__text">
                my social network
            </div> 
            <a class="social__link" target="_blank">
                <svg class="social__icon">
                    <use xlink:href="#ins"></use>
                </svg>
            </a>
        </div>
        <!-- <svg class="social__icon">
            <use xlink:href="#vk"></use>
        </svg> -->
    </div>
    <!-- <a class="header__btn">кнопка</a> -->
</header>
