<header class="mn-header">
    <div class="mn-header__row">

        <div class="mn-header__block_logo_and_cources  mn-header__block">
            <a class="mn-header__logo" href="#">Agile<span class="abb">Dev</span></a>
            <div class="mn-header__btn  btn">все курсы</div>
        </div>

        <div class="mn-header__burger  mn-header__block">
            <span class="burger"></span>
        </div>

        <nav class="mn-header__block_menu  mn-header__block">
            <ul class="mn-header__block_menu_list">
                <li class="mn-header__block_menu_item mn-header__about">
                    <a class="#" href="#">О нас</a>
                </li>
                <li class="mn-header__block_menu_item mn-header__contacts">
                    <a class="#" href="#">Контакты</a>
                </li>
                <li class="mn-header__block_menu_item mn-header__cources">
                    <a class="#" href="#">Видеокурсы</a>
                </li>
                <li class="mn-header__block_menu_item mn-header__user">
                    <a class="#" href="#">Войти</a>
                </li>
            </ul>
        </nav>

    </div>
</header>
