@import './blocks/vars.scss';

html {
    font-size: 15px;
}

body {
    margin: 0;
    line-height: 1.5;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.content {
    max-width: 1280px;
    
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.abb {
    color: $blue;
}

// *,
// *:before,
// *:after {
//     box-sizing: border-box;
// }


/* blocks */

@import './blocks/btn.scss';
@import './blocks/social.scss';
@import './blocks/header.scss';
@import './blocks/main.scss';
@import './blocks/blockLogo.scss';
@import './blocks/burger.scss';
@import './blocks/menu.scss';
@import './blocks/mainmenu.scss';
@import './blocks/s_price_a_form.scss';
@import './blocks/b_price.scss';
@import './blocks/b_form.scss';

@import './blocks/block_frontend__text.scss';

@import './blocks/about-us.scss';

@import './blocks/professions.scss';

@import './blocks/suit.scss';

@import './blocks/footer.scss';
@import './blocks/f_info_list.scss';
@import './blocks/f_nav.scss';
@import './blocks/f_inner.scss';
@import './blocks/f_docs.scss';

@import './blocks/training.scss';

@import './blocks/questions.scss';

@import './blocks/services.scss';
@import './blocks/videocource.scss';

@import './blocks/companies.scss';

@import './blocks/menu-all-cources.scss';

@import './blocks/services.scss';


/*Vendor libs*/

@import './vendor/slick.scss';